
html,
body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}
header {
  margin-top: 20px;
}

.logo {
  transform: scale(0.6);
}

.header-btn {
  box-shadow: 0 2px 8px hsl(206, 13%, 66%);
  float: right;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 1rem 3.75rem;
  border-radius: 3.125rem;
  background-color: white;
  color: hsl(208, 11%, 55%);
  margin-right: 80px;
  cursor: pointer;
}

.container {
  margin: auto;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(193, 100%, 96%);
  background-image: url("/images/bg-hero-desktop.svg");
}

.build {
  display: flex;
  margin: auto;
}

.build-description {
  margin: auto;
  margin-right: 40px;
  padding-top: 10px;
  inline-size: 34.375em;
  overflow-wrap: break-word;
}

.build-description > h1 {
  text-align: left;
}

.build-description > p {
  text-align: left;
}

.hero-mockup {
  width: 520px;
}

.hero-btn {
  font-family: "Poppins", sans-serif;
  background-color: hsl(322, 100%, 66%);
  border: none;
  padding: 1rem 4rem;
  border-radius: 3.125rem;
  color: white;
  cursor: pointer;
}

.hero-btn:hover {
  opacity: 0.6;
}

.features {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  background-color: white;
}

.grow {
  display: flex;
  width: 100%;
  box-shadow: 0 2px 10px hsl(208, 11%, 55%);
  border-radius: 5px;
  margin-top: 100px;
  margin-left: -6%;
  padding: 70px;
}

.grow-description {
  margin: auto;
  margin-right: 40px;
  padding-top: 10px;
  inline-size: 34.375em;
  overflow-wrap: break-word;
}

.grow-description > h2 {
  text-align: left;
}

.grow-description > p {
  text-align: left;
}

.grow-mockup {
  width: 300px;
}

.flowing {
  display: flex;
  width: 100%;
  box-shadow: 0 2px 10px hsl(208, 11%, 55%);
  border-radius: 5px;
  margin-top: 40px;
  margin-left: -6%;
  padding: 70px;
}

.flowing-description {
  margin: auto;
  margin-left: 40px;
  padding-top: 10px;
  inline-size: 34.375em;
  overflow-wrap: break-word;
}

.flowing-description > h2 {
  text-align: left;
}

.flowing-description > p {
  text-align: left;
}

.flowing-mockup {
  width: 300px;
}

.users {
  display: flex;
  width: 100%;
  box-shadow: 0 2px 10px hsl(208, 11%, 55%);
  border-radius: 5px;
  margin-top: 40px;
  margin-left: -6%;
  margin-bottom: 200px;
  padding: 70px;
}

.users-description {
  margin: auto;
  margin-right: 40px;
  padding-top: 10px;
  inline-size: 34.375em;
  overflow-wrap: break-word;
}

.users-description > h2 {
  text-align: left;
}

.users-description > p {
  text-align: left;
}

.users-mockup {
  width: 300px;
}

.ready {
  background-color: white;
  margin: auto;
  width: 500px;
  box-shadow: 0 2px 10px hsl(208, 11%, 55%);
  border-radius: 5px;
  padding: 30px;
  z-index: 1;
  position: absolute;
  left: 30%;
  margin-top: -10%;
}

.ready-btn {
  display: flex;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-color: hsl(322, 100%, 66%);
  border: none;
  padding: 1rem 4rem;
  border-radius: 3.125rem;
  color: white;
  cursor: pointer;
}
.ready-btn:hover {
  opacity: 0.6;
}

.ready > h2 {
  text-align: center;
}

footer {
  background-color: hsl(192, 100%, 9%);
  overflow-x: hidden;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  width: 150px;
  margin-top: 120px;
  margin-bottom: 50px;
  margin-left: 3.75rem;
  filter: brightness(0) invert(1);
}

.links {
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  margin: auto;
}

li {
  list-style: none;
  justify-content: left;
  padding: 10px 20px;
}

li a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

li a:hover {
  color: white;
  text-decoration: underline;
}

.awf {
  display: flex;
  flex-direction: column;
}

.cbc {
  display: flex;
  flex-direction: column;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.socials {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  justify-items: center;
  padding: 2px 6px;
  gap: 0.813rem;
  margin-right: 20px;
}

#text,
#icon {
  line-height: 50px;
}

#text {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
#icon {
  vertical-align: middle;
  font-size: 1.31rem;
}

.fa-solid,
.fa-brands {
  color: white;
  font-size: 1.31rem;
  width: 1.62rem;
  height: 1.62rem;
  text-align: center;
  padding: 0.313rem;
  margin-right: 0.625rem;
}

.fa-location-dot {
  margin-left: 3.75rem;
  margin-bottom: 2rem;
}

.fa-phone-volume {
  margin-left: 3.75rem;
  margin-bottom: 2rem;
}

.fa-envelope {
  margin-left: 3.75rem;
  margin-bottom: 1rem;
}

.fa-facebook-f {
  border: 0.063rem solid white;
  border-radius: 50%;
}

.fa-facebook-f:hover {
  color: hsl(300, 69%, 71%);
  border: 0.063rem solid hsl(322, 100%, 66%);
}

.fa-twitter {
  border: 0.063rem solid white;
  border-radius: 50%;
}

.fa-twitter:hover {
  color: hsl(300, 69%, 71%);
  border: 0.063rem solid hsl(322, 100%, 66%);
}

.fa-instagram {
  border: 0.063rem solid white;
  border-radius: 50%;
}

.fa-instagram:hover {
  color: hsl(300, 69%, 71%);
  border: 0.063rem solid hsl(322, 100%, 66%);
}

.copyright p {
  color: white;
  text-align: right;
  font-size: 14px;
  margin-right: 20px;
}
